menu "Hardware Drivers Config"

    menu "On-chip Peripheral Drivers"

        config BSP_USING_UART1
            bool "Enable UART1"
            select RT_USING_SERIAL
            default y
    
        config BSP_USING_UART2
            bool "Enable UART2"
            select RT_USING_SERIAL
            default n

        config BSP_USING_SPI1
            bool "Enable SPI1 BUS"
            select RT_USING_SPI
            default n
    
        config BSP_USING_SPI2
            bool "Enable SPI2 BUS"
            select RT_USING_SPI
            default n

        menuconfig BSP_USING_I2C1
            bool "Enable I2C1 BUS"
            default n
            select RT_USING_I2C
    
    endmenu
    
    menu "Onboard Peripheral Drivers"
    
    endmenu
    
    menu "Offboard Peripheral Drivers"

    endmenu
    
endmenu
